.div{
  color:red;
  margin: 100px;
  width: 200px;
  height: 200px;
  background: no-repeat;
  background-color: black;
  animation-name: hello;
  animation-duration: 4s;   
}
@keyframes hello {
  from {background-color: black;}
  to {background-color: yellow;}
}

